@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rebeccapurple;
  --foreground: palevioletred;
}

[data-theme="dark"] {
  --background: black;
  --foreground: hotpink;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}
