@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rebeccapurple;
  --color: palevioletred;
}

html,
body {
  background: var(--background-color);
  color: var(--color);
}
