@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #061b2e;
  --foreground: #f5f6f7;
  --primary: #21b6ff;
}

[data-theme="dark"] {
  --background: #061b2e;
  --foreground: #f5f6f7;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

a {
  color: var(--primary);
}
